.tickLabel
{
    -o-transform:rotate(-60deg);
    -moz-transform:rotate(-60deg);
    -webkit-transform:rotate(-60deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.bootstrap-tagsinput{
    min-width:340px;
}
.bootstrap-tagsinput>input{
    min-width:340px;
}
.pr-sm{
    padding-right: 12px;
}

.pb-sm{
    padding-bottom: 15px;
}

.demo-table-expand {
    font-size: 0;
}
.demo-table-expand label {
    width: auto;
    color: #99a9bf;
}
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 10%;
}